{% extends "layout.html" %}
{% block title %}الرئيسية{% endblock %}
{% block content %}
<section class="hero">
    <h2>مرحبا بك في منصة ByteHop التعليمية!</h2>
    <p>تعلم البرمجة والذكاء الاصطناعي بسهولة واحترافية مع دروس تفاعلية وشهادات موثوقة.</p>
    <a href="/thebook" class="btn-hero">ابدأ التعلم الآن</a>
</section>
<section class="hero"> 
    <h2>ابدأ رحلتك في البرمجة والذكاء الاصطناعي اليوم</h2>
     <p>
        منصة ByteHop تستخدم طريقة تعليم مختلفة، حيث تُنتج الفيديوهات التعليمية باستخدام أدوات الذكاء الاصطناعي. 
        ستتعلم برمجة الذكاء الاصطناعي خطوة بخطوة، ويكون المعلم عبارة عن نظام AI يشرح لك الدروس بطريقة تفاعلية. 
        بعد إكمال جميع الدروس، ستحصل على شهادة تقدير تثبت إتقانك للمحتوى.
    </p>
</section>
<section class="subjects">
    <h3>اختر المادة التي تريد تعلمها</h3>  <!-- العنوان الجديد -->
    <button onclick="location.href='/thebook'">البرمجة و الذكاء الاصطناعي | الكتاب النظري</button>
    <button onclick="location.href='/qureo'">منصة Qureo</button>
</section>
{% endblock %}