{% extends "layout.html" %}

{% block title %} الكتاب النظري | منهج البرمجة|الصف الأول الثانوي{% endblock %}

{% block content %}
<h2>منهج البرمجة والذكاء الاصطناعي | الصف الأول الثانوي</h2>

<div class="module">
    <h3>الوحدة الأولى: ما هي المعلومات</h3>
    <ul>
        <li><a href="{{ url_for('lesson', lesson_id=1) }}">شرح الوحدة الأولى</a></li>
    </ul>
</div>

<div class="module">
    <h3>الوحدة الثانية: القوانين والحقوق في مجتمع المعلومات</h3>
    <ul>
        <li><a href="{{ url_for('lesson', lesson_id=2) }}">برمجة | الوحدة 2 – الدرس 1 و2 </a></li>
        <li><a href="{{ url_for('lesson', lesson_id=3) }}">شرح الدرس الثالث – الوحدة الثانية | مادة البرمجة أولى ثانوي ترم أول (من كتاب النظري)</a></li>
    </ul>
</div>

<div class="module">
    <h3>الوحدة الثالثة: أمن المعلومات</h3>
    <ul>
        <li><a href="{{ url_for('lesson', lesson_id=4) }}">شرح الدروس 1 و2 و3 في الوحدة الثالثة – حماية البيانات والملكية الفكرية | أمن المعلومات ملخص مبسط</a></li>
    </ul>
</div>

<div class="module">
    <h3>الوحدة الرابعة:  تكنولوجيا المعلومات والمجتمع</h3>
    <ul>
        <li><a href="{{ url_for('lesson', lesson_id=5) }}">شرح الوحدة الرابعة في مادة البرمجة للصف الأول الثانوي | من الحجر إلى السيليكون</a></li>
    </ul>
</div>

<div class="module">
    <h3>الوحدة الخامسة: الاتصالات</h3>
    <ul>
        <li><a href="{{ url_for('lesson', lesson_id=6) }}">الاتصالات والإنترنت: مراجعة شاملة للوحدة الخامسة في البرمجة | رحلة التواصل المذهلة</a></li>
    </ul>
</div>
<div class="module">
    <h3>الوحدة السادسة: تصميم المعلومات</h3>
    <ul>
        <li><a href="{{ url_for('lesson', lesson_id=7) }}">شرح الوحدة السادسة (الجزء الأول): التناظري والرقمي + النظام الثنائي + النظام السداسي العشري</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=8) }}">شرح شامل للدروس 4–6 من الوحدة السادسة | إزاي الكمبيوتر بيفكرة (في 6 دقايق فقط!)</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=9) }}">شرح دروس 7 و8 و9 و10 - التمثيل والضغط الرقمي بالكامل | أولى ثانوي | شرح كيف تعمل الوسائط الرقمية؟</a></li>
    </ul>
</div>
<div class="module">
    <h3>الوحدة السابعة: الكمبيوترات</h3>
    <ul>
        <li><a href="{{ url_for('lesson', lesson_id=10) }}">بنية الكمبيوتر | مكونات الحاسب ووظائفها | أولى ثانوي | مكونات الكمبيوتر الأساسية</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=11) }}">الدرس 2 و 3 | الوحدة 7 من مادة البرمجة | شرح مبسط وسهل</a></li>
    </ul>
</div>
<div class="module">   
    <h3>الوحدة الثامنة: الشبكات</h3>
    <ul>
        <li><a href="{{ url_for('lesson', lesson_id=12) }}">البرمجة | شرح الدرس 1 و2 و3 من الوحدة الثامنة | أولى ثانوي | رحلة البيانات: كيف يعمل الإنترنت؟</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=13) }}">الصف الأول الثانوي – برمجة | الدرس 4 و5 من الوحدة 8 (البريد الإلكتروني وصفحات الويب)</a></li>
    </ul>
</div>
<div class="module">
    <h3>الوحدة التاسعة: قواعد البيانات</h3>
    <ul>
        <li><a href="{{ url_for('lesson', lesson_id=14) }}">مقدمة لقواعد البيانات: أنواعها وتعريفها – الدرس الأول للوحدة 9 | مقدمة عن قواعد البيانات</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=15) }}">الدرس 2 | الوحدة 9 | قواعد البيانات العلائقية | كشف أسرار قواعد البيانات قوة التنظيم</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=16) }}">الوحدة 9 الدرس 3 | نظم المعلومات: TPS – MIS – DSS – EIS – ERP | نظم المعلومات لغة الأعمال</a></li>
    </ul>
</div>
<div class="module">
    <h3>الوحدة العاشرة: تحليل البيانات</h3>
    <ul>
        <li><a href="{{ url_for('lesson', lesson_id=17) }}">الدرس الأول – الوحدة العاشرة: أنواع البيانات وطرق تحليلها | قصة البيانات مقدمة في الإحصاء</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=18) }}">تفصيص الدرس 2 في الوحدة 10: شرح سهل ومختصر</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=19) }}"> | الدرس 3 – الوحدة 10Box Plot | فهم الرباعيات ومخططات الصندوق</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=20) }}">الوحدة العاشرة: الدرس 4 | التباين والانحراف المعياري | شرح خطوات الحساب والتشتت.</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=21) }}">شرح الدرس 5 الوحدة 10 | تحليل البيانات: الارتباط والمخططات المبعثرة بسهولة</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=22) }}">تحليل الانحدار الخطي|الدرس السادس من الوحدة العاشرة|مادة البرمجة والذكاء الاصطناعي لصف الأول الثانوي</a></li>
    </ul>
</div>
<div class="module">
    <h3>الوحدة الحادية عشرة: المحاكاة</h3>
    <ul>
        <li><a href="{{ url_for('lesson', lesson_id=23) }}">نماذج وتمثيل البيانات | شرح درس الوحدة 11 برمجة أولى ثانوي بسهولة.</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=24) }}">الدرس 2 – الوحدة 11: المحاكاة والمراجع في Excel | البرمجة والذكاء الاصطناعي للصف الأول الثانوي.</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=25) }}">الدرس 3 – الوحدة 11: المحاكاة الاحتمالية وطريقة مونت كارلو لتقريب قيمة π | البرمجة والذكاء اصطناعي .</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=26) }}">CPU بيشتغل زي كاشير السوبر ماركت؟ شرح درس الطوابير (Queues) | درس 4 – الوحدة 11 – برمجة</a></li>
    </ul>
</div>
<div class="module">
    <h3>الوحدة الثانية عشر: البرمجة</h3>
    <ul>
        <li><a href="{{ url_for('lesson', lesson_id=27) }}">شرح الخوارزميات للصف الأول الثانوي | مفهوم الخوارزمية والمخططات الانسيابية | الدرس 1 | الوحدة 12</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=28) }}">أساسيات البرمجة | الدرس 2 من الوحدة 12 | تعلم البرمجة بسهولة</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=29) }}">شرح الحلقة التكرارية for والتفرع if في Python | أساسيات البرمجة للثانوي | الدرس 3 | الوحده 12</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=30) }}">القوائم (List – Array) في البرمجة | شرح مبسط مع أمثلة واقعية | أولى ثانوي</a></li>
        <li><a href="{{ url_for('lesson', lesson_id=31) }}">يعني إيه Function؟ | شرح الدوال في البرمجة بأمثلة من الحياة | أولى ثانوي</a></li>
    </ul>
</div>
{% endblock %}
